{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "src": "./src",
        "renderer": "./src/renderer",
        "main": "./src/main",
        "core": "./src/core/",
        "config": "./config/",
        "icons": "./src/renderer/images/icons/",
        "images": "./src/renderer/images/",
        "store": "./src/renderer/store/",
        "App": "./src/renderer/features/App/",
        "Common": "./src/renderer/features/Common/",
        "FormComponents": "./src/renderer/features/FormComponents/",
        "hooks": "./src/renderer/hooks",
        "languages": "./src/renderer/languages"
      }
    }]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "modules": "auto",
        "targets": {
          "esmodules": true
        },
        "corejs": "3.x",
        "useBuiltIns": "usage"
      }
    ],
    ["@babel/react", {
      "runtime": "automatic"
    }]
  ]
}
